<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CloudSols IT Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="shortcut   
    icon" href="public/csols-icon.png">

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing.css" rel="stylesheet" />
      <div class="pricing-pricing23 thq-section-padding">
        <div class="pricing-max-width thq-section-max-width">
          <div class="pricing-section-title">
            <span class="pricing-text10 thq-body-small">
              <span>Choose the perfect plan for you</span>
                </span>
                <div class="pricing-content">
                  <h2 class="pricing-text11 thq-heading-2">
                    <span>Pricing plan</span>
                  </h2>
                  <p class="thq-body-large">
                    <span>We provide monthly and annual support plans.</span>
                  </p>
                </div>
              </div>
              <div class="pricing-container">
                <div class="pricing-column1 thq-card">
                  <div class="pricing-price1">
                    <div class="pricing-price2">
                      <p class="pricing-text13 thq-body-large">
                        <span>Basic Plan</span>
                      </p>
                      <h3 class="pricing-text14 thq-heading-3">
                        <span>$149/month</span>
                      </h3>
                      <p class="thq-body-large"><span>$1299/year</span></p>
                    </div>
                    <div class="pricing-list1">
                      <div class="pricing-list-item10">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>24/7 Monitoring of Servers & Websites</span>
                        </span>
                      </div>
                      <div class="pricing-list-item11">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>System Tuning & Hardening</span>
                        </span>
                      </div>
                      <div class="pricing-list-item12">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>12/5 On-demand Support</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <button
                    class="pricing-button1 thq-button-outline thq-button-animated"
                  >
                    <a
                      href="https://calendly.com/safisre/consulting"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="pricing-text19 thq-body-small"
                    >
                      <span>Get Started with 7-Days Free Trial</span>
                    </a>
                  </button>
                </div>
                <div class="pricing-column2 thq-card">
                  <div class="pricing-price3">
                    <div class="pricing-price4">
                      <p class="pricing-text20 thq-body-large">
                        <span>Standard Plan</span>
                      </p>
                      <h3 class="pricing-text21 thq-heading-3">
                        <span>$199/month</span>
                      </h3>
                      <p class="thq-body-large"><span>$1999/year</span></p>
                    </div>
                    <div class="pricing-list2">
                      <div class="pricing-list-item13">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>All Features in Basic Plan +</span>
                        </span>
                      </div>
                      <div class="pricing-list-item14">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>Security Monitoring</span>
                        </span>
                      </div>
                      <div class="pricing-list-item15">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>Quaterly Server Updates</span>
                        </span>
                      </div>
                      <div class="pricing-list-item16">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>Small Website Fixes</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <button
                    class="pricing-button2 thq-button-filled thq-button-animated"
                  >
                    <a
                      href="https://calendly.com/safisre/consulting"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="pricing-text27 thq-body-small"
                    >
                      <span>Get Started with 7-Days Free Trial</span>
                    </a>
                  </button>
                </div>
                <div class="pricing-column3 thq-card">
                  <div class="pricing-price5">
                    <div class="pricing-price6">
                      <p class="pricing-text28 thq-body-large">
                        <span>Premium Plan</span>
                      </p>
                      <h3 class="pricing-text29 thq-heading-3">
                        <span>$299/month</span>
                      </h3>
                      <p class="thq-body-large"><span>$2999/year</span></p>
                    </div>
                    <div class="pricing-list3">
                      <div class="pricing-list-item17">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>All Features in Standard Plan +</span>
                        </span>
                      </div>
                      <div class="pricing-list-item18">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>Priority Support</span>
                        </span>
                      </div>
                      <div class="pricing-list-item19">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>Disaster Recovery Planning</span>
                        </span>
                      </div>
                      <div class="pricing-list-item20">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>Dedicated Account Manager</span>
                        </span>
                      </div>
                      <div class="pricing-list-item21">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span class="thq-body-small">
                          <span>Weekly server logs review</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <button
                    class="pricing-button3 thq-button-filled thq-button-animated"
                  >
                    <a
                      href="https://calendly.com/safisre/consulting"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="pricing-text36 thq-body-small"
                    >
                      <span>Get Started with 7-Days Free Trial</span>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
